$black: #282828;
$white: #fff;
$background: rgb(140, 255, 178);
$gray-line: #f6f6f6;
$grey-bg: #f9f9f9;
$primary: #28713B;
$text-black: #181818;
$text-grey: #7b7b7b;

$phone-width: 645px;
$container-width: 90%;

$duration: 0.15s;