@import "../variables";

.categories {
  ul {
    display: flex;
    gap: 10px;
    li {
      background-color: $grey-bg;
      font-weight: bold;
      border-radius: 30px;
      padding: 13px 30px;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      &:hover {
        background-color: darken($grey-bg, 2%);
      }
      &:active {
        background-color: darken($grey-bg, 5%);
      }
      &.active {
        background-color: $black;
        color: $white;
      }
    }
  }
}